@import "tailwindcss";

@theme {
  --color-app-bg: #b9bec4;
  --color-app-text: #0a1928;

  --color-app-success: #179864;
  --color-app-err: #981717;
  --color-app-warn: #987a17;
}

body {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
}
